# =========================
# Python cache (Odoo)
# =========================
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Odoo runtime files
# =========================
*.log
*.pid

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
